# Dependências do Composer
/vendor/

# Variáveis de ambiente
.env

# Cache e logs
*.log
/storage/
/cache/

# IDE
.vscode/
.idea/
*.swp

# Sistema operacional
.DS_Store
Thumbs.db

app/Views/filiais/cadastro.html
